@media(max-width: 800px) {
    .header {
      height: 70px;
      a {
        margin-top: 8px;
        img {
          margin-left: 10px;
        }
      }
    }
  }
  
  @media(max-width: 550px) {
    .header {
      a {
        margin-top: 12px;
        img {
          width: 45px;
          margin-left: 15px;
        }
      }
    }
  }