.app {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 80px;
  font-family: 'Inter', sans-serif;
  .wrapper_content {
    max-width: 1000px;
    margin: 0 auto;
    transition: 1s;
  }
}

.blur {
  filter: blur(2px);
  transition: 1s;
}

@media(max-width: 1150px) {
  .wrapper_content {
    width: 100%;
    padding: 0px 0px;
  }
}