.app {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 80px;
  font-family: 'Inter', sans-serif;
  // border: 1px solid white;
  .wrapper_content {
    max-width: 1000px;
    // padding: 0px 100px;
    margin: 0 auto;
  }
}

@media(max-width: 1150px) {
  .wrapper_content {
    width: 100%;
    padding: 0px 0px;
  }
}