@media(max-width:1150px) {
    #section_work {
        width: 70%;
        margin: 0 auto;
        margin-top: 250px;
    }
}

@media(max-width:950px) {
    #section_work {
        width: 90%;
    }
}

@media(max-width: 750px) {
    #section_work {
        width: 95%;
    }
}
    