#section_title {
    width: 100%;
    margin-top: 60px;
    span {
      display: inline-block;
      padding-left: 3px;
      font-size: 16px;
      line-height: 38px;
      font-weight: 400;
      font-family: 'Roboto Mono', monospace;
      color: #64ffda;
    }
    h1 {
      color: #ccd6f6;
      font-size: 80px;
      line-height: 100px;
      font-weight: 600;
      margin: 0;
    }
    h2 {
      color: #8892b0;
      font-size: 73px;
      line-height: 100px;
      font-weight: 600;
      margin: 0;
    }
    p {
        margin-top: 10px;
        width: 55%;
    }
}




