@media(max-width:1150px) {
    #section_about {
        width: 70%;
        margin: 0 auto;
        margin-top: 270px;
         .about_skills {
        ul {
            grid-template-columns: 1fr 1fr; 
            // grid-template-rows: 1fr 1fr 1fr; 
            width: 70%;
            margin: 0 auto;
            // text-align: center;
        }
    }
    }
}

@media(max-width:950px) {
    #section_about {
        width: 95%;
       
}
}

@media(max-width: 750px) {
    #section_about {
        .flex_about {
            display: flex;
            flex-flow: column;
            .about {
                p {
                    width: 100%;
                }
            }
            .about_img {
                margin: 0 auto;
                margin-top: 0px;
            }
        }
        .about_learning {
            h2 {
                margin-top: 20px;
            }
        }
    }
}

@media(max-width: 580px) {
    #section_about {
         .about_skills {
        ul {
            grid-template-columns: 1fr; 
            text-align: center;
        }
    }
}
}

@media(max-width: 415px) {
    #section_about {
        margin-top: 250px;
        .about_learning {
            h2 {
                font-size: 19px;
            }
        }
        .about_skills {
            h2 {
                font-size: 19px;
            }
        }
    }
}