.title {
    width: 90%;
    height: 50px;
    span {
        color: rgb(136, 246, 231);
        line-height: 20px;
        font-size: 18px;
        font-family: 'Roboto Mono', monospace;
    }
    h2 {
        color: #ccd6f6;
        margin: 0;
        margin-left: 5px;
        font-size: 30px;
        display: inline;
        min-width: 60px;
    }
    h2:after {
        content:'';
        display:inline-block;
        vertical-align:middle;
        box-sizing:border-box;
        margin-left: 15px;
        width:50%;
        height:1px;
        background:#233554; 
    }
}